SECRET_KEY="SOME_KEY"
DEBUG="True"

# Setup for Open Humans backend
OPENHUMANS_APP_BASE_URL="http://127.0.0.1:5000/"
OPENHUMANS_CLIENT_ID="CLIENT_ID"
OPENHUMANS_CLIENT_SECRET="CLIENT_SECRET"

ON_HEROKU='True'

# Setup for Open Clinica
## Username for adding participants & scheduling data ('site investigator' role)

OPENCLINICA_USERNAME="Username"
OPENCLINICA_PASSWORD="Password"

## Username for exporting data ('data manager' role)
OPENCLINICA_DATA_USERNAME="AnotherUsername"
OPENCLINICA_DATA_PASSWORD="Password"


OPENCLINICA_STUDY="DEMO_NAME(TEST)"

OPENCLINICA_SITE="SITE_NAME(TEST)"

OPENCLINICA_PARTICIPATE_LINK="PARTICIPATE_LINK.mytrial.me"
