SECRET_KEY="SOME_KEY"
DEBUG="True"

OPENHUMANS_APP_BASE_URL="http://127.0.0.1:5000/"
OPENHUMANS_CLIENT_ID="CLIENT_ID"
OPENHUMANS_CLIENT_SECRET="CLIENT_SECRET"

ON_HEROKU='True'

OPENCLINICA_USERNAME="Username"
OPENCLINICA_PASSWORD="Password" 


OPENCLINICA_STUDY="DEMO_NAME(TEST)"

OPENCLINICA_SITE="SITE_NAME(TEST)"

OPENCLINICA_PARTICIPATE_LINK="PARTICIPATE_LINK.mytrial.me"
