@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-light.woff") format("woff"),
    url("../fonts/ubuntu-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-regular.woff") format("woff"),
    url("../fonts/ubuntu-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntu-bold.woff") format("woff"),
    url("../fonts/ubuntu-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  /* switching to border-box model for all elements */
  box-sizing: border-box;
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  font-size: calc(1em * 0.625);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

:root {
  --dark: #163a40;
  --light: #d5f1ea;
  --green: #35d78c;
  --blue: #00c4ac;
  --yellow: #ffd13c;
  --orange: #ffa318;

  --tablet: 700px;
  --desktop: 960px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  position: relative;
  font-size: 1.8rem;
  color: var(--dark);
  font-family: "Ubuntu", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  line-height: 2.4rem;
  text-rendering: optimizeLegibility;
}

section {
  margin: 60px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

a,
a:visited {
  text-decoration: underline;
  color: inherit;
}

a:hover,
a:focus {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
  margin-top: 12px;
}

strong,
b {
  font-weight: bold;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul > li {
  padding: 0;
  margin: 1.4rem 0;
}

pre,
code,
kbd,
samp {
  position: relative;
}
button {
  margin: 12px 0;
  padding: 16px 20px;
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--dark);
  border: none;
  border-radius: 2px;
  box-shadow: none;
  cursor: pointer;
}
button:focus {
  outline: solid 4px cornflowerblue;
}
.button--white {
  background-color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.button--white:focus {
  outline: solid 4px var(--dark);
}
.button--white:hover {
  color: white;
  background-color: var(--dark);
}
.button--orange {
  background-size: 200% auto;
  background-image: linear-gradient(
    to right,
    var(--orange) 0%,
    var(--yellow) 100%
  );
  transition: background-position 0.3s ease;
}
.button--orange:hover {
  background-position: right center;
}
.container {
  padding: 0 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
}

.u-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

@media screen and (min-width: 700px) {
  h1 {
    font-size: 6rem;
    margin: 0;
    padding: 0;
  }
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.8rem;
  }
  .container {
    padding: 0 20px;
  }
}
