{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block intro %}
<section class="intro">
  <div class="intro-content">
    <h1>{% trans "About" %}</h1>
    <p>
      {% blocktrans %}
      The Covid Open survey was created by a team of scientists at the Center for Research and Interdisciplinarity (CRI)
      in
      Paris, with collaborating researchers from the USA, Australia, Canada, Costa Rica, India and more! We are
      interested
      in bringing together minds from all over the world, yours included, to come up with great ideas to research the COVID-19 virus.
      {% endblocktrans %}
    </p>
    <p>
      <a href="/team">{% blocktrans %}Meet the team!{% endblocktrans %}</a>
    </p>
  </div>
</section>
{% endblock intro %}

{% block main %}
<section>
  <article>
    <h2>{% trans "Citizen Science" %}</h2>
    <h3>{% trans "Be part of the team." %}</h3>
    <p>
      {% blocktrans %}
      When it comes to science, we believe in harnessing the ingenuity of all citizens. We want you to contribute your
      own survey items according to your research questions and interests. This will not only help us develop the study
      to cover the needs and interests of the cohort, but will also help us understand key questions and concerns that
      citizens outside of academia have regarding the pandemic.
      {% endblocktrans %}
    </p>
    <h3>{% trans "How it works." %}</h3>
    <p>
      {% blocktrans %}
      You will need to access the Open Humans forum, where we have created a dedicated section for your suggestions. Your
      participation in this forum cannot be linked to your answers in the Covid Open survey. You can also create and engage in topics of
      discussion directly on the forum and also vote for suggestions others have made!
      {% endblocktrans %}
    </p>
    <h3>{% trans "What to tell us:" %}</h3>
    <p>
      {% trans "We want to add questions to the survey with an end-goal in mind. We therefore ask you to suggest:" %}
      <ul>
        <li>{% trans "A research hypothesis that you would like to test" %}</li>
        <li>{% trans "A quick description of why you think your idea is worth exploring" %}</li>
        <li>{% trans "The questions you would like to incorporate in the survey to test your hypothesis" %}</li>
      </ul>
    </p>
    <h3>{% trans "How we review it." %}</h3>
    <p>
      {% blocktrans %}
      Every fortnight, our team will go through your suggestions, and decide on a few to incorporate into our
      next iteration of the survey. We will then send the new set of questions to be reviewed by the Institutional Review
      Board, to make sure it doesn’t go against any legal or ethical regulations. Once we get the green light, we will code the new questions into the survey.
      {% endblocktrans %}
    </p>
  </article>
  <article>
    <h2>{% trans "Our approach" %}</h2>
    <h3>{% trans "What we do." %}</h3>
    <p>
      {% blocktrans %}
      The Covid Open survey questionnaire has been created for people who want to help fight the COVID-19 virus from
      the comfort of their home. It consists of a short questionnaire that takes about 20 minutes to complete the first time, followed by a much quicker daily check-in on how you are feeling. A
      wide variety of questions are asked, some of which can be answered daily, others that appear on a rolling basis, in order to keep the survey fresh!
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      Our goal? To better understand the virus’ transmission patterns and its effect on physical and mental health. We want
      to understand <strong>how the virus spreads</strong>, <strong>who it affects most</strong>, and <strong>how it impacts our daily lives</strong>. We hope this may
      guide decisions surrounding public health and medication repurposing in the future.
      {% endblocktrans %}
    </p>
    <h3>{% trans "How we do it." %}</h3>
    <p>
      {% blocktrans %}
      All data collected is anonymized and goes through the Open Humans platform. We also seek to promote citizen science
      and provide an opportunity for you to contribute to this research
      hypotheses that could be implemented in our fast-evolving survey.
      {% endblocktrans %}
    </p>

    <p>
      {% trans "Our inital research aims are as follows:" %}
      <ul>
        <li>
          {% trans "To collect comprehensive symptom reports with a high temporal resolution to better understand COVID-19 disease progression." %}
        </li>
        <li>{% trans "To measure the impact of the COVID-19 pandemic on mental health." %}</li>
        <li>{% trans "To identify effective agents to reduce COVID-19 disease severity" %}</li>
        <li>{% trans "To characterize factors linked to increased susceptibility to COVID-19" %}</li>
        <li>
          {% trans "To understand how a more participatory approach to survey research - that makes participants esearch partners - changes survey success." %}
        </li>
      </ul>
      <p>
  </article>
</section>
{% endblock main %}
