{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block main %}
    <h1 class="mt-3 text-center">{% trans "Be a Citizen Scientist" %}</h1>

    <p>
        {% blocktrans %}
            When it comes to science, we believe in harnessing the ingenuity of all citizens. We want you to contribute your
            own survey items according to your research questions and interests. This will not only help us develop the
            study to cover the needs and interests of the cohort, but will also help us understand key questions and
            concerns that citizens outside of academia have regarding the pandemic.
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}
            How it works: You will need to access the OpenHumans forum, where a dedicated section for suggestions has been
            created. Your personal information will be anonymized for your suggestions. You can also create and engage in
            topics of discussions directly on the forum, as well as vote for suggestions others have made!
        {% endblocktrans %}
    </p>

    <p>{% trans "What to tell us: We can’t add questions to the survey without an end-goal in mind. We ask you to suggest" %}</p>
    <ul>
        <li>{% trans "a research hypothesis that you’d want to test" %}</li>
        <li>{% trans "a quick blurb on why you think it would be valuable to explore" %}</li>
        <li>{% trans "the questions would you incorporate in the survey to test your hypothesis" %}</li>

    </ul>
    <p>
        {% blocktrans %}
            How we review it: Every fortnight, our team will go through your suggestions, and decide on a few that we could
            incorporate into our next iteration of the survey. We will then send the new set of questions to be reviewed by the
            Institutional Review Board, to make sure it doesn’t go against any legal or ethical regulations. Once we get the
            green light, we will move to code it into the survey.
        {% endblocktrans %}
    </p>
{% endblock main %}
