{% extends 'base.html' %}
{% load static %}

{% block main %}


<h1 class="mt-3 text-center">Be a Citizen Scientist</h1>

<p>When it comes to science, we believe in harnessing the ingenuity of all citizens. We want you to contribute your own survey items according to your research questions and interests. This will not only help us develop the study to cover the needs and interests of the cohort, but will also help us understand key questions and concerns that citizens outside of Academia have regarding the pandemic.</p>

<p>How it works: You will need to access the OpenHumans forum, where a dedicated section for suggestions has been created. Your personal information will be anonymized for your suggestions. You can also create and engage in topics of discussions directly on the forum, as well as vote for suggestions others have made!</p>

<p>What to tell us: We can’t add questions to the survey without an end-goal in mind. We ask you to suggest</p>
<ul>
<li>a research hypothesis that you’d want to test</li>
<li>a quick blurb on why you think it would be valuable to look into</li>
<li>the questions would you incorporate in the survey to test your hypothesis</li>

</ul>
<p>How we review it: Every 2 weeks, our team will go through your suggestions, and decide on a few that we could incorporate into our next iteration of the survey. We then send the new set of questions to be reviewed by the Institutional Review Board, to make sure it doesn’t go against any legal or ethical regulations. Once we get the green light, we move to code it into the survey.</p>
  {% endblock main %}
