{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block intro %}

<section class="intro">
  <div class="intro-content">
    <h1>{% trans "Access the Data" %}</h1>
    <p>
      {% blocktrans %}
          Your data belongs to you! If you want to get a transcript with your past responses to the survey, <a href="#">click here!</a> You will be redirected to our OpenHumans server which stores your data securely.
      {% endblocktrans %}
    </p>
  </div>
</section>
{% endblock intro %}

{% block main %}
    <section>
      <article>
        <p>
            {% blocktrans %}
                As the survey just launched, we are waiting a few days to have enough data points to show you the trends! Come
                back later and see what’s happening around you!
            {% endblocktrans %}
        </p>
      </article>
    </section>
{% endblock main %}
