{% extends 'base.html' %}
{% load static %}

{% block main %}


<h1 class="mt-3 text-center">Access the Data</h1>

<p>As the survey just launched, we are waiting a few days to have enough data points to show you the trends! Come back later and see what’s happening around you!</p>

<p>Your data belongs to you! If you want to get a transcript with your past responses to the survey, click here! You will be redirected to our OpenHumans server which stores your data securely. </p>


{% endblock main %}
