{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block intro %}
<section class="intro">
  <div class="intro-content">
    <h1>{% trans "Frequently Asked Questions" %}</h1>
    <p>
      {% blocktrans %}
      Find answers to the most asked questions about the Covid Open survey and the data we collect.
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      Feel free to email us any other question you may have at: <a href="mailto:bastian.greshake-tzovaras@cri-paris.org">bastian.greshake-tzovaras@cri-paris.org</a>
      {% endblocktrans %}
    </p>
    <p>
      {% blocktrans %}
      Thank you!
      {% endblocktrans %}
    </p>
  </div>
</section>
{% endblock intro %}

{% block main %}
<section>
  <article>
    <h2>{% trans "The data" %}</h2>
    <h3 data-collapse aria-expanded="false">{% trans "Who will be using my data?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <p class="collapse__item">
      {% blocktrans %}
      De-identified data will be made available to the scientific community, and will be distributed with any
      publications
      that arise from this study. If necessary to protect the privacy of participants, individual bits of data might be
      removed or only shared in aggregate. These data cannot be used to identify participants. Additionally, each
      participant will be given a copy of their own data as part of this study.
      {% endblocktrans %}
    </p>
    <h3 data-collapse aria-expanded="false">{% trans "How will my data be protected?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <p class="collapse__item">
      {% blocktrans %}
      All data will be stored on a firewall and password-protected on secure project servers of Open Humans &
      OpenClinica.
      This study does not collect individual identifiers such as name or email addresses. Instead, Open Humans assigns
      each participant a study ID on enrollment.
      {% endblocktrans %}
    </p>
    <h3 data-collapse aria-expanded="false">{% trans "Will someone make money off my data?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <p class="collapse__item">
      {% blocktrans %}
      Participant data will not be sold and data sharing will be performed within strict protocol-driven procedural
      guidelines.
      {% endblocktrans %}
    </p>
    <h3 data-collapse aria-expanded="false">{% trans "How long will my data be used for?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <p class="collapse__item">
      {% blocktrans %}
      The collection period is aimed to end in May 2022. After this we will stop gathering new data but will need some
      time to analyze everything collected.
      {% endblocktrans %}
    </p>
    <h3 data-collapse aria-expanded="false">{% trans "Can I delete my data?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <div class="collapse__item">
      <p>
        {% blocktrans %}
        Yes! Your data belongs to you. You can do so automatically from here, or manually through the Open Humans website.
        {% endblocktrans %}
      </p>
      {% if not request.user.is_authenticated %}
      <p><i>{% trans "Please login to view the automatic delete links" %}.</i></p>
      {% else %}
      <p class="collapse__item">{% trans "Follow these steps to delete your data automatically:" %}
        <ul>
          <li>{% blocktrans count counter=files|length %}You have 1 data file on Open Humans{% plural %}You have
            {{ counter }} data files on Open Humans{% endblocktrans %}. {% if files|length != 0 %}<a
              href="{% url "delete_all_openhuman_files" %}">{% trans "Click here to delete all your data files" %}</a>.{% else %}{% trans "You don't have anything to delete!" %}{% endif %}
          </li>
          <li>
            {% trans "Additionally, if you want to revoke access from Covid Open Survey to your Open Humans account, follow theses steps:" %}
            <ul>
              <li>{% blocktrans %}Go to <a href="https://www.openhumans.org/activity/covid-open-survey/"
                  target="_blank">https://www.openhumans.org/activity/covid-open-survey/</a>{% endblocktrans %}</li>
              <li>{% trans 'Click on "Leave project" in the bottom left corner' %}</li>
              <li>{% trans 'Click on "Withdraw & revoke authorization"' %}</li>
            </ul>
          </li>
        </ul>
      </p>
      {% endif %}
      <p>
        {% trans "Follow these steps to delete your data through the Open Humans website:" %}
        <ul>
          <li>
            {% blocktrans %}Go to <a href="https://www.openhumans.org/activity/covid-open-survey/" target="_blank">https://www.openhumans.org/activity/covid-open-survey/</a>
            {% endblocktrans %}
          </li>
          <li>{% trans 'Click on "Leave project" in the bottom left corner' %}</li>
          <li>{% trans 'Check "Remove my data files for Covid Open Survey from Open Humans"' %}</li>
          <li>{% trans 'Click on "Withdraw & revoke authorization"' %}</li>
        </ul>
      </p>
      {% if request.user.is_authenticated %}
      <p>
        {% trans "You can also delete all your data files and your Covid Open Survey account:" %}
        <br>
        <a
          href="{% url "delete_all" %}">{% trans "Click here to delete all your data files and your Covid Open Survey account" %}</a>.
      </p>
      {% endif %}
    </div>

    <h3 data-collapse aria-expanded="false">{% trans "Can others access my data?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <p class="collapse__item">
      {% blocktrans %}
      Other individual participants will not be able to access your data. However, the overall dataset will be made
      available to the science community.
      {% endblocktrans %}
    </p>
  </article>

  <article>
    <h2>{% trans "The survey" %}</h2>
    <h3 data-collapse aria-expanded="false">{% trans "Why do I need to sign up with Open Humans?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <p class="collapse__item">
      {% blocktrans %}
      Open Humans hosts our secure servers, and is the place where all the data goes.
      {% endblocktrans %}
    </p>
    <h3 data-collapse aria-expanded="false">{% trans "How do I end the survey?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <p class="collapse__item">
      {% blocktrans %}
      In your daily reminder to complete the survey, simply click on “I do not want to be part of this research
      initiative
      anymore” and we will stop sending you reminders.
      {% endblocktrans %}
    </p>
    <h3 data-collapse aria-expanded="false">{% trans "Can someone under 18 enroll in the survey?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <p class="collapse__item">
      {% blocktrans %}
      No, this study is not open to participants under the age of 18
      {% endblocktrans %}
    </p>
    <h3 data-collapse aria-expanded="false">{% trans "What’s the difference between Open Humans and OpenClinica?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <p class="collapse__item">
      {% blocktrans %}
      Open Humans encrypts and stores the data, OpenClinica is the survey platform: data is collected there and sent to
      Open Humans.
      {% endblocktrans %}
    </p>
  </article>
  <article>
    <h2>{% trans "The survey" %}</h2>
    <h3 data-collapse aria-expanded="false">{% trans "I would like to help, what can I do?" %}
      <svg xmlns="http://www.w3.org/2000/svg" height="12" width="20" viewbox="0 0 20 12" class="chevron">
        <line x1="0" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
        <line x1="20" y1="0" x2="10" y2="10" stroke="currentColor" stroke-width="2" />
      </svg>
    </h3>
    <p class="collapse__item">
      {% blocktrans %}
      The easiest way to help is by <strong>sharing the survey.</strong> If you want to get involved, send us an email at: <a href="mailto:contact@opencovid.org">contact@opencovid.org</a>
      {% endblocktrans %}
    </p>
  </article>
</section>
{% endblock main %}
