{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block main %}
    <h1 class="mt-3 text-center">{% trans "Frequently Asked Questions" %}</h1>

    <h2>{% trans "Who will be using my data" %}</h2>
    <p>
        {% blocktrans %}
            De-identified data will be made available to the scientific community, and will be distributed with any publications
            that arise from this study. If necessary to protect the privacy of participants, individual bits of data might be
            removed or only shared in aggregate. These data cannot be used to identify participants. Additionally, each
            participant will be given a copy of their own data as part of this study.
        {% endblocktrans %}
    </p>

    <h2>{% trans "How will my data be protected" %}</h2>
    <p>
        {% blocktrans %}
            All data will be stored on a firewall and password-protected on secure project servers of Open Humans & OpenClinica.
            This study does not collect individual identifiers such as name or email addresses. Instead, Open Humans assigns
            each participant a study ID on enrollment.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Will someone make money off my data" %}</h2>
    <p>
        {% blocktrans %}
            Participant data will not be sold and data sharing will be performed within strict protocol-driven procedural
            guidelines.
        {% endblocktrans %}
    </p>

    <h2>{% trans "How long will my data be used for" %}</h2>
    <p>
        {% blocktrans %}
            The collection period is aimed to end in May 2022. After this we will stop gathering new data but will need some
            time to analyze everything collected.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Can I delete my data" %}</h2>
    <p>
        {% blocktrans %}
            Yes! Your data belongs to you. Follow these steps to delete your data through OpenHumans:
        {% endblocktrans %}
    </p>
    <ul>
        <li>{% blocktrans %}Go to <a href="https://www.openhumans.org/activity/open-covid-survey/" target="_blank">https://www.openhumans.org/activity/open-covid-survey/</a>{% endblocktrans %}</li>
        <li>{% trans 'Click on "Leave project" in the bottom left corner' %}</li>
        <li>{% trans 'Check "Remove my data files for Open COVID Survey from Open Humans"' %}</li>
        <li>{% trans 'Click on "Withdraw & revoke authorization"' %}</li>
    </ul>

    <h2>{% trans "How do I end the survey" %}</h2>
    <p>
        {% blocktrans %}
            In your daily reminder to complete the survey, simply click on “I do not want to be part of this research initiative
            anymore” and we will stop sending you reminders.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Can others access my data" %}</h2>
    <p>
        {% blocktrans %}
            Other individual participants will not be able to access your data. However, the overall dataset will be made
            available to the science community.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Why do I need to sign up with OpenHumans" %}</h2>
    <p>
        {% blocktrans %}
            OpenHumans hosts our secure servers, and is the place where all the data goes.
        {% endblocktrans %}
    </p>

    <h2>{% trans "What’s the difference between OpenHumans and OpenClinica" %}</h2>
    <p>
        {% blocktrans %}
            OpenHumans encrypts and stores the data, OpenClinica is the survey platform: data is collected there and sent to
            OpenHumans.
        {% endblocktrans %}
    </p>

    <h2>{% trans "Can someone under 18 enroll in the survey" %}</h2>
    <p>
        {% blocktrans %}
            No, this study is not open to participants under the age of 18
        {% endblocktrans %}
    </p>
{% endblock main %}
