{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block main %}
    <h1 class="mt-3 text-center">{% trans "Meet the Team!" %}</h1>

    <p>
        {% blocktrans %}
            The OpenCovid survey was created by a team of scientists at the Center for Research and Interdisciplinarity
            (CRI) in Paris, with collaborating researchers from the USA, Australia, Canada, Costa Rica, India and more!
            We are interested in bringing in minds from all over the world, yours included, to come up with great ideas to
            research this virus.
        {% endblocktrans %}
    </p>

    <h4> Anneke Blackburn</h4>
    <p>
        {% blocktrans %}
            Associate Professor at the Department of Cancer Biology and Therapy, John Curtin School of Medical Research,
            Australian National University. Is working to set up an Open Source Pharma organisation in Australia to promote an
            open science approach to medicine development at the clinical end of the pipeline.
        {% endblocktrans %}
    </p>

    <h4>Goeffrey Siwo</h4>
    <p>
        {% blocktrans %}
            Research Assistant Professor at the Center for Research Computing & Eck Institute for Global Health, University of
            Notre Dame, IN, USA
        {% endblocktrans %}
    </p>

    <h4>Marc-Aurèle Chay</h4>
    <p>
        {% blocktrans %}
            3rd year medical student at McGill University in Montreal. Did a Masters in human genetics before getting interested
            in global health.
        {% endblocktrans %}
    </p>

    <h4>Spark Yaddav</h4>
    <p>
        {% blocktrans %}
            Was Research Associate at the Genome Biology Division in SciLifeLab, Karolinska Institutet, Stockholm, Sweden.
            Worked in Open Source Drug Discovery. Also did research on Synthetic Biology research at Delft University of
            Technology, The Netherlands.
        {% endblocktrans %}
    </p>

    <h4>Anirudh Krishnakumar</h4>
    <p>
        {% blocktrans %}
            PhD student at the INSERM U1284 unit at the Center for Interdisciplinary Research, University of Paris & the Child
            Mind Institute, New York.
        {% endblocktrans %}
    </p>

    <h4>Bastian Greshake Tzovaras</h4>
    <p>
        {% blocktrans %}
            Research fellow at the INSERM U1284 unit at the Center for Interdisciplinary Research, University of Paris and
            Director of Research / freelance consultant for OpenHumans.org.
        {% endblocktrans %}
    </p>

    <h4>Mad Price Ball</h4>
    <p>
        {% blocktrans %}
            Executive Director & Co-Founder of OpenHumans.org and started quantifiedflu.org with Bastian  Greshake Tzovaras.
        {% endblocktrans %}
    </p>

    <h4>Ariel B. Lindner</h4>
    <p>
        {% blocktrans %}
            Co-Founder & Research Director at the INSERM U1284 unit at the Center for Interdisciplinary Research, University of
            Paris
        {% endblocktrans %}
    </p>

    <h4>Natalia Norori</h4>
    <p>
        {% blocktrans %}
            Medical Student at the Universidad Latina de Costa Rica. She also works for Open Access Button, a non-profit
            organisation that helps people get access to research.
        {% endblocktrans %}
    </p>

    <h4>Bastien Cohin</h4>
    <p>
        {% blocktrans %}
            Third year medical student at the Université de Caen-Normandie, he is concurrently doing a masters in
            Biology-Health. He also works with ANEMF (French national association of medical students) and IFMSA (International
            Federation of Medical Student Association.
        {% endblocktrans %}
    </p>

    <h4>Kseniia Konishcheva</h4>
    <p>
        {% blocktrans %}
            Master’s student in interdisciplinary life sciences at the Center for Interdisciplinary Research, University of
            Paris, intern at the INSERM U1284 unit at the Center for Interdisciplinary Research & the Child Mind Institute, New
            York.
        {% endblocktrans %}
    </p>
{% endblock main %}
