{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block intro %}
<section class="intro">
  <div class="intro-content">
    <h1>{% trans "Meet the Team!" %}</h1>
    <h2>{% trans "Members from around the world" %}</h2>
    <p>
      {% blocktrans %}
      Meet the team behind OpenCovid and learn a bit more about their background.
      {% endblocktrans %}
    </p>
  </div>
</section>
{% endblock intro %}

{% block main %}
<section>
  {% comment %}
  <pre><code>{{ persons }}</code></pre> {% endcomment %}
  <ul class="team__list">
    {% for person in persons %}
    <li class="card card--team">
      {% if person.link%}
      <h3><a href='{{person.link}}'>{{ person.name }}</a></h3>
      {%else%}
      <h3>{{ person.name }}</h3>
      {%endif%}
      <p>
        {% trans person.description %}
      </p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock main %}
