{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block main %}
    <h1 class="mt-3 text-center">{% trans "Our Vision" %}</h1>

    <p>
        {% blocktrans %}
            The OpenCovid survey is a 5 minute questionnaire created for people who want to help fight the COVID-19 virus
            from the comfort of their home. It consists of a short questionnaire, followed by a daily check-in on how you
            feel. A wide variety of questions are asked, some of which can be answered daily, others that appear on a
            rolling basis, so as to always keep it fresh!
        {% endblocktrans %}
    </p>

    <p>
        {% blocktrans %}
            Our goal? Better understand the virus’ transmission patterns and its effect on physical and mental health. We
            want to understand how the virus spreads, who it affects most, and how it impacts your daily life. We hope this
            may guide public health decisions and medication repurposing in the future.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
            All data collected is anonymized and goes through the OpenHuman platform. From there, you can view what is
            happening around you. We also seek to promote citizen science and give you the option to contribute research
            hypotheses that could be implemented in our fast-evolving survey.
        {% endblocktrans %}
    </p>

    <p>
        {% trans "These are our starting research aims that we’re trying to answer:" %}
        <ul>
            <li>{% trans "Collect comprehensive symptom reports with a high temporal resolution to better understand the disease progression." %}</li>
            <li>{% trans "Measuring the impact of the COVID-19 pandemic on mental health." %}</li>
            <li>{% trans "To identify effective agents for reducing COVID-19 disease severity" %}</li>
            <li>{% trans "Characterize factors that define susceptibility to developing COVID-19" %}</li>
            <li>{% trans "Understand how a more participatory approach to survey research, that makes participants partners, changes survey success." %}</li>
        </ul>
    <p>
{% endblock main %}
